<!doctype html>
<html>
<%- include head.ejs %>
<body>
    <%- include header.ejs %>
	<h1>About</h1>
    </br>
    <p>Upload a picture, and our system will find every matching profiles on different social medias using a face recognition system!</p>
    <h2>How to use</h2>
    <p>Submit a picture on the home page</p>
    <p>Add new records using add face and add page.</p>
    <br>
    <p>Made by Devin Mui and Miguel Tenant de La Tour</p>
</body>
</html>