<!doctype html>
<html>
<%- include head.ejs %>
<body>
    <%- include header.ejs %>
	<h1>About</h1>
    </br>
    <p>Upload a picture, and our system will find every matching profiles on different social medias using a face recognition system!</p>
    <h2>How to use</h2>
    <h3>Recognition</h3>
    <p>May not be very accurate at all especially if you're not on the database</p>
    <ol>
    	<li>On <a href="/">home</a>, just upload a jpg file and you're done!</li>
    </ol>
    <h3>Training</h3>
    <p>To help us train our model</p>
    <ol>
    	<li>Go to <a href="/new">new user</a></li>
    	<li>Fill out your name, twitter username, and fb name or link (fb is not yet implemented)</li>
    	<li>Click browse to upload files (hold shift and click to upload multiple files). If you can, submit more than 100 pictures so our recognizer can properly recognize you. Use different expressions and poses and keep your head faced forward.</li>
    	<li>Click submit!</li>
    	<li>Give it a few moments to train the model. When the page loads, you should be able to use the recognition on the <a href="/">home page</a> to recognize pictures with you in it.</li>
    </ol>
    <br>
    <h2>TODO</h2>
    <ul>
    	<li>Better styling (this was made at a hackathon)</li>
    	<li>Better error messages</li>
    	<li>User accounts</li>
    	<li>Validation of pictures and such</li>
    	<li>Things users ask for if there are any users</li>
    </ul>
    <br>
    <p>Made by Devin Mui and Miguel Tenant de La Tour</p>
</body>
</html>