<!doctype html>
<html>
<%- include head.ejs %>
<body>
    <%- include header.ejs %>
	<h1>Add Face</h1>
    </br>
	<form role="form" action="/add_picture" method="post" enctype="multipart/form-data">
		<input class=".form-control" type="file" name="picture" id="picture">
    </br>
		<input class="btn btn-default" type="submit" id="add_data">

	</form>
</body>
</html>