<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Add in a new record</title>
		<link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta name="description" content="Facial Recognition Web App">
    <meta name="keywords" content="Web, App, Facial, Recognition, Enstalk">
    <meta name="author" content="Devin Mui, Miguel Tenant de La Tour">
</head>