<!doctype html>
<html>
<%- include head.ejs %>
<body>
    <%- include header.ejs %>
	<h1>Upload a Picture</h1>
    </br>
	<% if(image) { %>
		<!--add fb here-->
		<img src="<%= image %>"/>
		<!--add twitter here-->
	<% } %>
    <% for (i=0;i<tweets.length;i++) { %>
        <p><%= tweets[i].text %></p>
    <% } %>
	<form role="form" action="/" method="post" enctype="multipart/form-data">
		<input class=".form-control" type="file" id="file" name="picture" multiple>
    </br>
		<input class="btn btn-default" type="submit" id="analyse">
	</form>
</body>
</html>